<!DOCTYPE html>
<html lang="en">
<head>
  <% if(ads) {%> 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1579411871326173" crossorigin="anonymous"></script>
  <% } %>
  <title>SimplyMC: <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="SimplyMC: <%= title %>" property="og:title" />
  <meta content="<%= description %>" property="og:description" />
  <meta content="https://www.simplymc.art/" property="og:url" />
  <meta content="/images/icon.png" property="og:image" />
  <meta content="#9C0000" data-react-helmet="true" name="theme-color" />
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preload" href="/fonts/MinecraftRegular.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftBold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftItalic.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftBoldItalic.otf" as="font" type="font/otf" crossorigin>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/js.cookie.js"></script>
</head>
<body class="has-navbar-fixed-top">
  <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/full.png">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="simplymc-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="simplymc-navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Gradients
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item <% if (title == 'Hex Gradient Creator') { %> is-active <% } %>" href="/Gradients">
              Hex Gradients
            </a>
            <a class="navbar-item <% if (title == 'Animated TAB Creator') { %> is-active <% } %>" href="/AnimTab">
              Animated TAB
            </a>
            <a class="navbar-item <% if (title == 'User Submitted Presets') { %> is-active <% } %>" href="/Presets">
              Presets
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Analysis
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item <% if (title == 'Analyze Spark Profile' || title == 'Profile Analysis Result') { %> is-active <% } %>" href="/SparkProfile">
              Spark Profile
            </a>
            <a class="navbar-item <% if (title == 'Analyze Timings' || title == 'Timings Analysis Result') { %> is-active <% } %>" href="/PaperTimings">
              Paper Timings
            </a>
          </div>
        </div>
        <a class="navbar-item <% if (title == 'Animated Texture Creator') { %> is-active <% } %>" href="/AnimTexture">
          Animated Textures
        </a>
        <a class="navbar-item <% if (title == 'Misc Tools') { %> is-active <% } %>" href="/MiscTools">
          Misc Tools
        </a>
        <a class="navbar-item <% if (title == 'Privacy policy') { %> is-active <% } %>" href="/Privacy">
          Privacy Policy
        </a>
      </div>
    
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/AkiraDevelopment/SimplyMC">
          GitHub
        </a>
        <a class="navbar-item" href="https://discord.simplymc.art/">
          Discord
        </a>
        <% if(user) { %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              <img src=<%= `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` %> alt=<%= `${user.username}'s avatar` %> style="width:24px;height:24px; border-radius: 50px">
              <%= user.username %>#<%= user.discriminator %>
            </a>
            <div class="navbar-dropdown">
              <% if(user.id == "798738506859282482") {%>
                <a class="navbar-item" href="/admin">
                  Admin Panel
                </a>
              <% } %>
              <a class="navbar-item" href="/logout">
                Logout
              </a>
          </div>
        <% } else { %>
          <a class="navbar-item" href="/login">
            Login
          </a>
        <% } %>
      </div>
    </div>
  </nav>
  <script>
    $(document).ready(() => {
      $(".navbar-burger").click(() => {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>
