<%- include("partials/header", { path, presets, title: "Admin Panel" , description: "You shouldnt see this", ads: false }) %>

    <section class="hero is-dark is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Admin Panel</h1>
                <h2 class="subtitle">You shouldnt see this</h2>
                <h1>There are <%= presets.length %> Presets pending</h1>
                <% presets.forEach(preset=> { %>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="label">
                                        <%= preset.id %>
                                    </h1>
                                    <form method="post">
                                        <div class="field">
                                            <label class="label">Name</label>
                                            <div class="control">
                                                <input class="input" type="text" name="name" value="<%= preset.name %>">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Description</label>
                                            <div class="control">
                                                <input class="input" type="text" name="description"
                                                    value="<%= preset.description %>">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Author</label>
                                            <div class="control">
                                                <input class="input" type="text" name="author"
                                                    value="<%= preset.author %>">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Date</label>
                                            <input class="input" type="text" name="date" value="<%= preset.date %>" readonly="readonly" >
                                        </div>
                                        <div class="field">
                                            <label class="label">data</label>
                                            <div class="control">
                                                <textarea class="textarea" name="data" readonly="readonly" ><%= preset.data %></textarea>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" class="switch" id="approve" name="approved">
                                                <label for="approve" class="noselect">Approved?</label>
                                            </div>
                                        </div>
                                        <div class="field" hidden>
                                            <textarea class="textarea" name="id" readonly="readonly" ><%= preset.id %></textarea>
                                            <textarea class="textarea" name="authorid" readonly="readonly" ><%= preset.authorid %></textarea>
                                        </div>
                                        <button type="submit" id="Submit" class="button is-success">Submit</button>
                                    </form>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>