<%- include("partials/header", { queryPreset, user, alert, alert_type, path, title: "Hex Gradient Creator" , description: "Hex color gradient creator", ads: true }) %>
  <link rel="stylesheet" href="/css/RGBStyle.css">

  <div id="hexColorTemplate" style="display:none;">
    <div class="row">
      <label for="color-$NUM">
        <translatable data-translate="hex_color_title"></translatable>
        #$NUM</label>
      <input class="input col-md-1 hexColor" id="color-$NUM" value="$VAL"
        data-jscolor="{preset:'small dark', position:'right'}" oninput="javascript: updateOutputText(event)"
        onchange="javascript: updateOutputText(event); Cookies.set(`#${$NUM}`, document.getElementById('color-$NUM').value, { expires: 7, path: '' })" />
    </div>
  </div>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title" id="title">
          <translatable data-translate="title"></translatable>
        </p>
        <p class="subtitle">
          <translatable data-translate="subtitle"></translatable>
        </p>
        <br>
        <% if (alert) { %>
          <div class="notification is-<%- alert_type %> " id="notification">
            <button class="delete" onclick="deleteElement('notification')"></button>
            <%= alert %>
          </div>
        <% } %>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title">
                <translatable data-translate="output_title"></translatable>
              </p>
              <p class="subtitle">
                <translatable data-translate="output_subtitle"></translatable>
              </p>
              <div class="content">
                <pre class="textarea" id="outputText" placeholder="Output will appear here"
                  onclick="copyTextToClipboard(this.innerText)"></pre>
              </div>
              <p id="error">
                <translatable data-translate="output_title"></translatable>
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <div id="coloredNick" class="title minecraft"></div>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <label for='numOfColors'>
                <translatable data-translate="num_colors"></translatable>
              </label>
              <input type="number" id="numOfColors" class="input" type="text" min="2" max="10" value="2"
                oninput="toggleColors(this.value); updateOutputText(event);">
              <div id="hexColors" class="content"></div>
            </div>
          </div>
          <div class="tile is-parent is-8">
            <div class="tile is-child">
              <div class="content">
                <label for='text'>
                  <translatable data-translate="input_text"></translatable>
                </label>
                <input id="text" class="input" type="text" placeholder="Your Text" value="SimplyMC"
                  oninput="updateOutputText(event);">
                <label for='output-format'>
                  <translatable data-translate="output_format"></translatable>
                </label><br>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="output-format" onchange="updateOutputText(event);">
                    <option value='0'>chat (&#rrggbb)</option>
                    <option value='1'>chat (<#rrggbb>)</option>
                    <option value='2'>chat (&x&r&r&g&g&b&b)</option>
                    <option value='3'>/nick (&#rrggbb)</option>
                    <option value='4'>/nick (<#rrggbb>)</option>
                    <option value='5'>/nick (&x&r&r&g&g&b&b)</option>
                    <option value='6'>console (§x§r§r§g§g§b§b)</option>
                    <option value='7'>bbcode [COLOR=#rrggbb]</option>
                    <option value='8'>MiniMessage (<gradient:#hex:#hex>)</option>
                    <option value='9'>custom</option>
                  </select>
                </div>
                <div class="hidden" id="customFormatWrapper">
                  <label for='customFormat'>
                    <translatable data-translate="input_text"></translatable>
                  </label>
                  <input id="customFormat" class="input" type="text" oninput="updateOutputText(event);">
                  <p>
                    <translatable data-translate="custom_format_label"></translatable>
                  </p>
                  <ul>
                    <li>
                      <translatable data-translate="custom_format_char1"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char2"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char3"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char4"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char5"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char6"></translatable>
                    </li>
                    <li>
                      <translatable data-translate="custom_format_char7"></translatable>
                    </li>
                  </ul>
                </div>
                <label for="color-preset">
                  <translatable data-translate="presets"></translatable>
                </label>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="color-preset" onchange="preset(this.value); updateOutputText(event);">
                    <option value='0'>None</option>
                    <option value='1'>Rainbow</option>
                    <option value='2'>Skyline</option>
                    <option value='3'>Mango</option>
                    <option value='4'>Vice City</option>
                    <option value='5'>Dawn</option>
                    <option value='6'>Rose</option>
                    <option value='7'>Firewatch</option>
                  </select>
                </div>
                <label for="exportPreset">
                  <translatable data-translate="custom_preset"></translatable>
                </label><br>
                <button class="button" type="button" id="exportPreset" onclick="copyTextToClipboard(exportPreset());">
                  <translatable data-translate="copy_preset"></translatable>
                </button>
                <button class="button" type="button" id="importPreset" onclick="showfield('importInput')">
                  <translatable data-translate="import_preset"></translatable>
                </button>
                <% if(user){ %> 
                  <button class="button" type="button" id="importPreset" onclick="openModal(document.getElementById('preset'))">
                    Submit Preset
                  </button>
                  <form method="post">
                    <div class="modal" id="preset">
                      <div class="modal-background"></div>
                      <div class="modal-card">  
                        <header class="modal-card-head">
                          <p class="modal-card-title">Submit a preset</p>
                        </header>
                        <section class="modal-card-body">
                          <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" type="text" name="description">
                            </div>
                        </div>
                        <div class="field">
                          <label class="label">Preset</label>
                          <div class="control">
                            <textarea class="input is-static" type="text" name="preset" id="presetInput" readonly></textarea>
                            <button type="button" class="button" onclick="writeToElement('presetInput', exportPreset())">Generate</button>
                          </div>
                      </div>
                        </section>
                        <footer class="modal-card-foot">
                          <button class="button is-success" type="submit">Submit</button>
                          <button type="button" class="button is-danger" onclick="closeModal(document.getElementById('preset'))">Cancel</button>
                        </footer>
                      </div>
                    </div>
                  </form>
                  </div>
                <% } %>
                <div id="importInput" style="display: none;">
                  <label for='import'>
                    <translatable data-translate="paste_preset"></translatable>
                  </label>
                  <input id="import" name="ImportInput" class="input" type="text"
                    onchange="javascript: importPreset(this.value)">
                </div>
                <br><br>
                <div id="formatSelector">
                  <div class="field">
                    <input type="checkbox" class="switch" id="bold" onclick="updateOutputText();">
                    <label for="bold" class="noselect">
                      <translatable data-translate="bold"></translatable>
                    </label>
                  </div>
                  <div class="field">
                    <input type="checkbox" class="switch" id="italics" onclick="updateOutputText();">
                    <label for="italics" class="noselect">
                      <translatable data-translate="italic"></translatable>
                    </label>
                  </div>
                  <div class="field">
                    <input type="checkbox" class="switch" id="underline" onclick="updateOutputText();">
                    <label for="underline" class="noselect">
                      <translatable data-translate="underline"></translatable>
                    </label>
                  </div>
                  <div class="field">
                    <input type="checkbox" class="switch" id="strike" onclick="updateOutputText();">
                    <label for="strike" class="noselect">
                      <translatable data-translate="strike"></translatable>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.8/jscolor.min.js"></script>
  <script src="/js/RGBScript.js"></script>
  <script src="/js/GradientScript.js"></script>
  <script>
    let qPreset = '<%- queryPreset %>';
    if (qPreset) importPreset(qPreset);
  </script>
  <%- include("partials/footer") %>