<%- include("partials/header", { path, presets, utils, title: "User Submitted Presets", description: "Custom gradient prests made by users", ads: false }) %>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title" id="title">
            <translatable data-translate="title"></translatable>
          </p>
          <p class="subtitle">
            <translatable data-translate="subtitle"></translatable>
          </p>
          <br>
        <table id="presets" class="table is-striped is-dark" style="width:100%">
            <thead>
                <tr>
                    <th>
                      <translatable data-translate="id"></translatable>
                    </th>
                    <th>
                      <translatable data-translate="name"></translatable>
                    </th>
                    <th>
                      <translatable data-translate="author"></translatable>
                    </th>
                    <th>
                      <translatable data-translate="description"></translatable>
                    </th>
                    <th>
                      <translatable data-translate="preview"></translatable>
                    </th>
                    <th>
                      <translatable data-translate="click_to_use"></translatable>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>
                    <translatable data-translate="id"></translatable>
                  </th>
                  <th>
                    <translatable data-translate="name"></translatable>
                  </th>
                  <th>
                    <translatable data-translate="author"></translatable>
                  </th>
                  <th>
                    <translatable data-translate="description"></translatable>
                  </th>
                  <th>
                    <translatable data-translate="preview"></translatable>
                  </th>
                  <th>
                    <translatable data-translate="click_to_use"></translatable>
                  </th>
                </tr>
            </tfoot>
            <tbody>
                <% for (let i = 0; i < presets.length; i++) { %>
                    <tr>
                        <td><%= presets[i].id %></td>
                        <td><%= presets[i].name %></td>
                        <td><%= presets[i].author %></td>
                        <td><%= presets[i].description %></td>
                        <td>
                            <button class="button" onclick="createPreview('<%= presets[i].data %>', this)">
                              <translatable data-translate="show_preview"></translatable>
                            </button>
                        </td>
                        <td>
                            <a href="/gradients?preset=<%= presets[i].data %> ">
                              <translatable data-translate="use_gradient"></translatable>
                            </a>
                            <br>
                            <a href="/AnimTab?preset=<%= presets[i].data %> ">
                              <translatable data-translate="use_animtab"></translatable>
                            </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
      </div>
    </div>
  </section>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bulma.min.js"></script>
<script src="/js/PresetsScript.js"></script>
<script src="/js/RGBScript.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/Presets.css">
<%- include("partials/footer") %>